{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/stylos.css' %}">
</head>
<body>
    
    <footer>
        <div class="contacto " id="contacto" style="background:linear-gradient(134deg, #f4f285,#f7e62d); ">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col ">
          <h5>CONTÁCTANOS</h5> <hr>
          <h5>Número Celular</h5> 
          <p>+56 9 1019 1019</p> 
          <h5>Dirección</h5>
          <p>Consultorio José Bolzán 1234 Maule </p> 
          <h5>Correo</h5>
          <p>contacto@consultorio.cl</p> <br>
            
        </div>
        
        </div>
        <!-- <span><img class="text-end" src="{% static 'img/footer.png' %}" height="180" width="520"> </span> -->
        
        
        <center>        
        <div class="derechos">
          <div class="fuente"><tr>Yo Me Vacuno © Gobierno de Chile | Todos los derechos reservados.</tr></div>
        </div>
        </center>
        </footer>

       
    
</body>
</html>